.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

/* img */

.register__logo{ 
    align-self: center;
    max-height: 80px;
    max-width: 80px;
}

/* container form */

.register__container__form{
    display: flex;
    flex-direction: column;
    padding: 3rem 12.5rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-hover);
    background-color: var(--card-color);
    max-width: 95rem;
    width: 100%;
    gap: 2rem; 
    color: var(--primary-color-text);
}

/* form */

.register__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.register__form__title{
    font-weight: 600;
    font-size: clamp(3rem, 4vw, 4.5rem);
    line-height: clamp(3rem, 5vw, 5rem);
    color: var(--primary-color-blue);
    text-align: center;
}

.register__form__subtitle{
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    color: var(--secondary-color-gray)
}

/* navLink */

.register__navlink{ color: var(--primary-color-blue) }

/* error */

.register__no__error, .register__none{ display: none }

.register__error{ line-height: 1.8rem }

.register__error__message{
    text-align: center;
    font-size: 1.4rem;
    color: #ed4337;
}

/* responsividade */

@media( max-width: 768px ){ .register__container__form{ padding: 3rem 2.5rem; } }

@media( max-width: 767px ){

    /* img */

    .register__logo{ 
        max-height: 70px;
        max-width: 70px;
    }

    .register__container__form{ padding: 3rem 1.5rem }

    .personalize__perfil__title{ font-size: 2.5rem }
    .personalize__perfil__subtitle, .preferencias__subtitle{ font-size: 1rem;}

    .preferencias__title{ font-size: 2rem}
}