.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

/* img */

.register__logo{ 
    align-self: center;
    max-height: 80px;
    max-width: 80px;
}

/* container form */

.register__container__form{
    display: flex;
    flex-direction: column;
    padding: 3rem 12.5rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--shadow-hover);
    background-color: var(--card-color);
    max-width: 95rem;
    width: 100%;
    gap: 2rem; 
    color: var(--primary-color-text);
}

/* form */

.register__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.register__form__title{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5rem;
    color: var(--primary-color-blue);
    text-align: center;
}

.register__form__subtitle{
    text-align: center;
    font-size: 1.4rem;
    color: var(--secondary-color-gray)
}

/* button */

/* error */

.register__no__error, .register__none{ display: none }

.register__error{ line-height: 1rem }

.register__error__message{
    text-align: center;
    font-size: 1.4rem;
    color: #ed4337;
}