.detalhes{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

/* img */

.icons{ height: 2.7rem }

.circulo__blue{ height: 1.5rem }

/* titulo/descricao */

.detalhes__titulo{
    font-size: 3.5rem;
    color: var(--primary-color-text);
    font-weight: 500;
}

.detalhes__descricao, .detalhes__descricao__completa, .detalhes__descricao__complemento{
    font-size: 1.5rem;
    color: var(--secondary-color-gray);
    max-width: 65ch;
}

.detalhes__descricao__adicional{
    font-size: 1.5rem;
    color: var(--primary-color-text);
    max-width: 65ch;
}

.detalhes__infos{
    display: flex;
    gap: 5.5rem;
    margin-top: 1.8rem;
}

.infos__icons{
    display: flex;
    gap: 0.8rem;
}

.infos__categoria, .infos__text{
    font-size: 1.4rem;
    color: var(--secondary-color-gray); 
}

.infos__text{ 
    font-size: 1.5rem;
    max-width: 28ch;
    color: var(--primary-color-text)
}

/* card */

.card__infos{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border: 0.2rem solid var(--border-color);
    background-color: var(--card-color);
    border-radius: 1rem;
    padding: 2.5rem;
    flex: 1;
    overflow: auto;
}

.detalhes__objeto__title{
    color: var(--primary-color-text);
    font-size: 2rem;
    font-weight: 600;
}

.detalhes__objeto__subtitle{ 
    color: var(--primary-color-text);
    font-weight: 500;
    margin-bottom: 1rem;
}

.informacoes__adicionais{
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

/* responsividade */

.responsive {display: none}

@media( max-width: 1032px){
    .detalhes__descricao, .infos__text{display: none}
    .responsive { display: flex }
}

@media( max-width: 768px ){
    .detalhes__descricao, .infos__text, .detalhes__infos{display: none}
    .responsive { display: flex }

    .detalhes__titulo{
        margin: 0.8rem 0;
        line-height: 3.5rem;
    }
}