/* img */

.register__icon{
    position: absolute;
    height: 27px;
    top: 1rem;
    left: 1.5rem;
}

.register__eye__icon{
    position: absolute;
    height: 18px;
    right: 1.5rem;
    top: 1.6rem; 
    cursor: pointer
}

.info__image{ height: 23px }

/* inputs */

.register__label{
    font-size: 15px;
    color: var(--primary-color-blue);
    font-weight: 600;
}

.register__container__inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.register__input{
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 1.4rem 5.3rem;
    width: 100%;
    border: 0.1rem solid var(--border-color);
    color: var(--primary-color-text);
    background-color: var(--card-color);
}

.register__input__container { position: relative }

/* extra info */

.register__container__info{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1.2rem;
    font-size: 1.4rem;
    color: var(--secondary-color-gray);
    background-color: #0049e819;
    flex: 1;
}

.info__subtitle{ max-width: 54ch }

/* button */

.register__form__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 0.8rem;
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* já tem conta */

hr{ border-color: rgba(0, 0, 0, 0.249) }

.register__container__com__conta{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.register__com__conta__text{ color: var(--secondary-color-gray) }